@charset "UTF-8";

body {
    color: #333;
}

#header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #333;
    background-color: skyblue;
}

#content {
    padding: 14px;
}

#footer {
    padding: 14px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-top: 14px;
}

th {
    border: 1px solid #333;
    background-color: pink;
    padding: 6px;
}

td {
    border: 1px solid #333;
    background-color: cream;
    padding: 6px;
}